@use "../../styles/abstracts/colors" as colors;
@use "../../styles/utils/mixins-screens" as screens;
@use "../../styles/utils/mixins-text-sizes" as textSizes;
@use "../../styles/utils/mixins-responsive" as responsive;

.auralyze {
  padding: 90px 0;

  .container {
    @include responsive.container;

    .wrapper {
      display: flex;
      flex-direction: column-reverse;
      gap: 50px;

      .result {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h1 {
          color: colors.$primary;
          @include textSizes.text-lg;
        }
      }

      .audio {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .title {
          color: colors.$primary;
          @include textSizes.text-lg;
        }
      }
    }
  }
}

@include screens.tabletAndDesktop {
  .auralyze {
    .container {
      .wrapper {
        flex-direction: row;
        align-items: flex-start;

        .audio,
        .result {
          width: 100%;
        }
      }
    }
  }
}
