@use "../../../styles/abstracts/colors" as colors;
@use "../../../styles/utils/mixins-text-sizes" as textSizes;

.dropZone {
  cursor: pointer;
  padding: 10px;
  border-radius: 3px;
  background-color: rgba($color: colors.$primary, $alpha: 0.1);

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  outline: 1px colors.$primary dashed;

  &:hover,
  &.dragOver {
    outline: 1px colors.$primary solid;
  }

  &.dragOver {
    background-color: rgba($color: colors.$primary, $alpha: 0.5);
  }

  .icon {
    color: colors.$primary;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    @include textSizes.text-xl;
  }

  p {
    font-weight: bold;
    color: colors.$primary;
  }

  input {
    display: none;
  }
}
