@use "../../styles/abstracts/colors.scss" as colors;
@use "../../styles/utils/mixins-text-sizes" as textSizes;
@use "../../styles/utils/mixins-responsive" as responsive;

.navbar {
  .container {
    @include responsive.container;

    .wrapper {
      display: flex;
      padding: 10px 20px;
      align-items: center;
      justify-content: space-between;

      background: rgba(colors.$primary, 0.75);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border: 1px solid rgba(colors.$primary, 0.18);
      margin: 10px 0;
      border-radius: 5px;

      .left {
        .brand {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 35px;
          }

          .name {
            color: colors.$white;
            font-weight: 900;
            @include textSizes.text-xl;
          }
        }
      }

      .right {
        svg {
          color: colors.$slate;
          @include textSizes.text-2xl;
        }
      }
    }
  }
}
