@use "../../styles/abstracts/colors.scss" as colors;
@use "../../styles/utils/mixins-text-sizes" as textSizes;
@use "../../styles/utils/mixins-responsive" as responsive;

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .container {
    @include responsive.container;

    .wrapper {
      display: flex;
      padding: 10px 20px;
      align-items: center;
      justify-content: space-between;

      background: colors.$primary;
      border: 1px solid rgba(colors.$white, 0.3);
      margin: 10px 0;
      border-radius: 5px;

      .left {
        .brand {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 35px;
          }

          .name {
            color: colors.$white;
            font-weight: 900;
            @include textSizes.text-xl;
          }
        }
      }

      .right {
        a {
          display: flex;
          align-items: center;

          svg {
            color: colors.$slate;
            @include textSizes.text-2xl;
          }
        }
      }
    }
  }
}
